body {
    max-width: 1440px;
    max-height: 3092px;
}

.Fonts {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Navigation stars---------------------------------------------- */
.nav-bar {
    display: flex;
    border: 2px solid black;
    padding: 20px 0px;
    gap: 225px;
    justify-content: center;
    justify-content: baseline;
    align-items: center;

}

.School-title {

    font-weight: bold;
    font-size: 32px;
}

.nav-img {
    margin-top: 15px;
}

.nav-items {
    display: flex;


}

.nav-item {
    display: flex;
    gap: 32px;
    text-decoration: none;
    list-style: none;

}

.nav-anchor1 {
    font-weight: bold;
    font-size: 20px;
    color: orange;

}

.nav-anchor2 {

    font-weight: medium;
    font-size: 20px;
    color: rgba(1, 172, 253, 1);

}

.nav-anchor3 {
    font-weight: Medium;
    font-size: 20px;
    color: rgba(5, 212, 223, 1);

}

.nav-anchor4 {
    font-weight: Medium;
    font-size: 20px;
    color: rgba(93, 88, 239, 1);

}

.Contact-btn {
    border-radius: 12px;
    background-color: orange;
    color: white;
    outline: none;
    border: none;
    padding: 10px 30px;
    font-weight: SemiBold;
    font-size: 20px;

}

@media screen and (max-width: 390px) {

    .nav-bar {
        margin: 12px 16px 12px 16px;
    }

    .hide-in-phone {
        display: none;
    }
}

/* Main body started here------------------------------------------------- */

/* 1.Hero section starts here*/
.Hero-section {
    margin: 0px 141px 0px 141px;
    border: 2px solid black;
}

.hero-divs {
    display: flex;
    gap: 50px;

}

.hero-div1 {
    margin-top: 122px;
    margin-bottom: 122px;
}

#Empowering {
    font-weight: bold;
    font-size: 56px;
    color: orange;
}

#student-for-sAge {
    font-weight: bold;
    font-size: 56px;
    color: black;
}

#towards-vision {
    font-weight: bold;
    font-size: 56px;
    color: rgba(1, 172, 253, 1);
}

.hero-des {
    margin-top: 24px;
    font-weight: Regular;
    font-size: 20px;
    color: black;
}

.Enroll-Now-btn {
    margin-top: 24px;
    background-color: black;
    color: white;
    padding: 10px 47px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 12px;
    border: none;
    outline: none;
}

/* 2.Standard Curriculum Section stars here */
.Standard-cur {
    border: 2px solid black;
}

.standar-cur-divs {

    display: flex;
    justify-content: center;
    gap: 28px;
    margin: 80px 140px 0px 140px;
    height: 476px;
}

.Standard-cur-title {
    margin-top: 60px;
    text-align: center;
    font-weight: bold;
    font-size: 46px;
    color: black;
}

.standar-cur-div1 {
    text-align: center;
    background-color: rgba(222, 245, 255, 1);
    border-radius: 18.86px;


}

.standar-cur-div2 {
    text-align: center;
    background-color: rgba(255, 244, 220, 1);
    border-radius: 18.86px;


}

.standar-cur-div3 {
    text-align: center;
    background-color: rgba(242, 232, 255, 1);
    border-radius: 18.86px;

}

.Standard-img1 {
    margin-top: 52px;
}

.Standard-img2 {
    margin-top: 63px;
}

.Standard-img3 {
    margin-top: 63px;

}

.st-sub-title {
    margin: 32px 50px 32px 50px;
    font-weight: bold;
    font-size: 24px;

}

.st-sub-des {
    margin: 40px 33px 40px 33px;
    font-family: Raleway;
    font-weight: 15px;

}

.read-more1 {

    color: rgba(100, 200, 255, 1);
    font-weight: bold;
    font-size: 15px;
}

.read-more2 {

    color: rgba(240, 170, 0, 1);
    font-weight: bold;
    font-size: 15px;
}

.read-more3 {

    color: rgba(135, 0, 255, 1);
    font-weight: bold;
    font-size: 15px;
}
































/* Footer section starts here */
.footer-section {
    border: 2px solid;
    background-color: rgba(1, 172, 253, 1);
}

.footer-divs {
    display: flex;
    margin: 122px 200px 174px 120px;
    align-items: center;
    justify-content: center;
    gap: 180px;

    border: 1px solid;
}

.footer-div1 {
    border: 1px solid;
    color: white;
}

.footer-div2{
   
   
    border: 1px solid;
    width: 800px;
    text-align: center;

}

.footer-div3 {
    border: 1px solid;

}

.footer-div-title {
    font-weight: bold;
    font-size: 28px;
    color: white;
}

.footer-des {}

.imgANDtitle {

    display: flex;
    border: 1px solid;
    align-items: center;
}

.footer-title2 {
    font-weight: bold;
    font-size: 22px;
    color: white;
}

.title2-options {

    text-decoration: none;
    list-style: none;
    color: white;
}

.footer-title3 {
    font-weight: bold;
    font-size: 22px;
    color: white;
}

.footer-images {
    display: flex;
    gap: 10px;
}