* {
    box-sizing: border-box;
}
body {
    max-width: 1440px;
}

.Fonts {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.quicksand{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: medium;
  color: white;
  font-size: 13px;

}
/* Navigation stars---------------------------------------------- */
.nav-bar {
    display: flex;
    padding: 20px 0px;
    gap: 225px;
    justify-content: center;
    justify-content: baseline;
    align-items: center;

}

.School-title {

    font-weight: bold;
    font-size: 32px;
}

.nav-img {
    margin-top: 15px;
}

.nav-items {
    display: flex;


}

.nav-item {
    display: flex;
    gap: 32px;
    text-decoration: none;
    list-style: none;

}

.nav-anchor1 {
    font-weight: bold;
    font-size: 20px;
    color: orange;

}

.nav-anchor2 {

    font-weight: medium;
    font-size: 20px;
    color: rgba(1, 172, 253, 1);

}

.nav-anchor3 {
    font-weight: Medium;
    font-size: 20px;
    color: rgba(5, 212, 223, 1);

}

.nav-anchor4 {
    font-weight: Medium;
    font-size: 20px;
    color: rgba(93, 88, 239, 1);

}

.Contact-btn {
    border-radius: 12px;
    background-color: orange;
    color: white;
    outline: none;
    border: none;
    padding: 10px 30px;
    font-weight: SemiBold;
    font-size: 20px;

}

/* Main body started here------------------------------------------------- */

/* 1.Hero section starts here*/
.Hero-section {
    margin: 0px 141px 0px 141px;

}

.hero-divs {
    display: flex;
    gap: 50px;

}

.hero-div1 {
    margin-top: 122px;
    margin-bottom: 122px;
}

#Empowering {
    font-weight: bold;
    font-size: 56px;
    color: orange;
}

#student-for-sAge {
    font-weight: bold;
    font-size: 56px;
    color: black;
}

#towards-vision {
    font-weight: bold;
    font-size: 56px;
    color: rgba(1, 172, 253, 1);
}

.hero-des {
    margin-top: 24px;
    font-weight: Regular;
    font-size: 20px;
    color: black;
}

.Enroll-Now-btn {
    margin-top: 24px;
    background-color: black;
    color: white;
    padding: 10px 47px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 12px;
    border: none;
    outline: none;
}

/* 2.Standard Curriculum Section stars here */
.Standard-cur {
    background-image: url('/assets/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.standar-cur-divs {

    display: flex;
    justify-content: center;
    gap: 28px;
    margin: 80px 140px 0px 140px;
}

.Standard-cur-title {
    margin-top: 60px;
    text-align: center;
    font-weight: bold;
    font-size: 46px;
    color: black;
}

.standar-cur-div1 {
    text-align: center;
    background: linear-gradient(to bottom, rgba(222, 245, 255, 1), white);
    border-radius: 18.86px;
    height: 481px;
    width: 1160px;

}

.standar-cur-div2 {
    text-align: center;
    background: linear-gradient(to bottom, rgba(255, 244, 220, 1), white);
    border-radius: 18.86px;
    height: 481px;
    width: 1160px;

}

.standar-cur-div3 {
    text-align: center;
    background: linear-gradient(to bottom, rgba(242, 232, 255, 1), white);
    border-radius: 18.86px;
    height: 481px;
    width: 1160px;
}

.Standard-img1 {
    margin-top: 52px;
}

.Standard-img2 {
    margin-top: 63px;
}

.Standard-img3 {
    margin-top: 63px;

}

.st-sub-title {
    margin: 32px 50px 32px 50px;
    font-weight: bold;
    font-size: 24px;

}

.st-sub-des {
    margin: 40px 33px 40px 33px;
    font-family: Raleway;
    font-weight: 15px;
    color: rgba(128, 128, 128, 1);

}
.st-sub-des3 {
    margin: 40px 33px 40px 0px;
    font-family: Raleway;
    font-weight: 15px;
    color: rgba(128, 128, 128, 1);

}
.read-more1 {

    color: rgba(100, 200, 255, 1);
    font-weight: bold;
    font-size: 15px;
}

.read-more2 {

    color: rgba(240, 170, 0, 1);
    font-weight: bold;
    font-size: 15px;
}

.read-more3 {

    color: rgba(135, 0, 255, 1);
    font-weight: bold;
    font-size: 15px;
}
.button{
    display: flex;
    justify-content: center;
}
.image-button {
    display: flex;
    gap: 10px;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-bottom:50px;
    background-color: transparent;
}

.image-button img {
    width: 100%;
    

}



/* Our story section starts here */
.Our-Stories {
    height: 1018px;
    background: url('../assets/bg.png'), linear-gradient(to top, rgba(254, 163, 1, 1) -60%, rgba(255, 255, 255, 1) 100%);
    background-size: cover;
    background-position: center;
    
    
}

.Our-Stories-title {
    text-align: center;
    font-size: 46px;
    font-weight: bold;
    color: black;
    margin-bottom: 80px;

}
.story-divs {

    display: flex;
    justify-content: center;
    gap: 20px;
    margin: auto 140px auto 140px;
    

}
.second-story{
    width: 1200px;
}
.our-story-des1{
        padding: 30px;
        margin-left: 9px;
        margin-bottom: 0px;
        font-size: 24px;
        font-weight: bold;
}
.our-story-des{
    font-size: 15px;
    font-weight: bold;
    color: black;
    margin-left: 10px;
}
.ourStryBroadDes1{
  
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0px;
    padding-bottom: 20px;
}
.second-story {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.story-div1 {
    border-radius: 16px;
    background-color: white;
    position: relative;
}
.story-div2 {
    border-radius: 16px;
    background-color: white;
    position: relative;
}
.story-div3 {
    border-radius: 16px;
    background-color: white;
    position: relative;
}
.story-div4 {
    border-radius: 16px;
    background-color: white;
    position: relative;
}
.story-div5 {
    border-radius: 16px;
    background-color: white;
    position: relative;
}

.badge1{
    position: absolute;
    background-color: rgba(60, 216, 232, 1);
    padding: 10px 30px;
    margin-top: 345px;
    margin-left: -560px;
    border-radius: 46px;
    border: none;
   outline: none;
}
.badge2{
    position: absolute;
    background-color: rgba(149, 178, 38, 1);
    padding: 5px 10px;
    border-radius: 16px;
    margin-top: 150px;
    margin-left: -250px;
    border: none;
    outline: none;
}
.badge3{
    position: absolute;
    background-color: rgba(93, 88, 240, 1);
    padding: 5px 10px;
    border-radius: 16px;
    margin-top: 150px;
    margin-left: -250px;
    border: none;
    outline: none;
   
}
.badge4{
    position: absolute;
    background-color: rgba(149, 178, 38, 1);
    padding: 5px 10px;
    border-radius: 16px;
    margin-top: 155px;
    margin-left: -250px;
    border: none;
    outline: none;
}
.badge5{
    position: absolute;
    background-color: rgba(149, 178, 38, 1);
    padding: 5px 10px;
    border-radius: 16px;
    margin-top: 155px;
    margin-left: -250px;
    border: none;
    outline: none;
}
.our-story-des{
    padding: 8px;
}

.our-story-img {

    width: 100%;
    border-radius: 16px 16px 0 0;
}
.viewAll{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 55px;
    text-align: center;
    margin-top: 90px;
}
.View-button{
    padding: 10px 50px;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 12px;
}

/* Footer section starts here */

footer{
    background-color: rgba(1, 172, 253, 1);
}
.footer-section{
    padding: 50px;
}
.footer-divs {
    display: flex;
    margin: auto 140px;
    justify-content: center;
    gap: 180px;


}
.ftr-img{
    width: 60px;
}
.footer-div1 {
    color: white;
    width: 300px;
}

.footer-div2{
    width: 200px;

}
.footer-div-title {
    font-weight: bold;
    font-size: 28px;
    color: white;
}

.imgANDtitle {

    display: flex;
    align-items: center;
}

.footer-title2 {
    font-weight: bold;
    font-size: 22px;
    color: white;
}

.title2-options {

    text-decoration: none;
    list-style: none;
    color: white;
    margin-left: -40px;
    
}
.option{
    margin-top: 10px;
}
.footer-title3 {
    font-weight: bold;
    font-size: 22px;
    color: white;
}

.footer-images {
    display: flex;
    gap: 20px;
}

/* media query stars here */

@media screen and (max-width:390px) {

.hide{
    display: none;
}   
.nav-bar{
    width: 390px;
    height: 70px;
    margin: 0px 17px 8px 16px;
}
.nav-img-cls{
    height: 46px;
    width: 46px;
}
.Hero-section{
  
    margin: 70px 16px 0px 16px;
    text-align: center;
}
.hero-divs{
    flex-direction: column-reverse;
    padding: 20px 0px;
}
.hero-img{
  
    width: 100%;
    margin-bottom: 0px;
}
.hero-div1{
    margin-top: 20px;
    
}
.hero-title{
    font-size: 32px;
    font-weight: bold;
}
.hero-des{
    margin-top: 18px;
    margin-bottom: 18px;
    height: 54px;
    width: 357px;
    margin-bottom: 50px;
}
.Enroll-Now-btn{
    padding: 6px 24px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0px;
}

/* Standard-cur */
.Standard-cur{
    text-align: center;
    border: 1px solid;
    
}
.Standard-cur-title{
    margin-top: 0px;
    font-size: 26px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 26px;
}
.standar-cur-divs
{   
    justify-content: center;
    flex-direction: column;
    margin: 20px 16px 0px 16px;
     
}
.standar-cur-div1,.standar-cur-div2,.standar-cur-div3{
    width: 357px;
    padding: 36px 28px;
    border-radius: 12px;
    text-align: center;
}
.st-sub-title{
    
    margin: 22px 105px 0px 105px;
    font-size: 16px;

}
.st-sub-des{
    margin: 22px 81px 0px 81px;
    text-align: center;
    font-size: 10px;
}
.Standard-img1,.Standard-img2,.Standard-img3{
    text-align: center;
}

.Standard-img1 img{
    height: 84px;
    width: 93px;
}
.Standard-img2 img{
    height: 84px;
    width: 93px;
}
.Standard-img3 img{
    height: 84px;
    width: 93px;
}
.st-sub-title{
    display: flex;
    justify-content: center;
    width: 150px;
    height: 21px;
    margin: 22px 102px 0px 102px;
    
}
.read-more1,.read-more2,.read-more3{
    margin: 22px 143px 0px 143px;
    font-size: 10px;
    width: 53px;
    text-align: center;
}
/* our stories */

.Our-Stories{
    border: 1px solid;
}
.Our-Stories-title{
    font-size: 26px;
    text-align: center;
    margin-top: 20px;
}
}